.actionButton {
  composes: actionButton from "@squid-dev/cc-web-term/dist/styles.css";
}

.infoDescription {
  padding: 5px 10px;
}

.tinyText {
  font-weight: 200;
  font-size: 0.8em;
  color: #555;
}

.errorView {
  background-color: #ffb6b6;
  color: #670000;
}

.termLine:before {
  content: "> ";
}

.computerView {
  height: 100%;
}

.computerSplit {
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.terminalView,
.editorView {
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;
}

.editorViewDark,
.terminalViewDark {
  background: rgb(36, 36, 36);
  color: rgb(236, 236, 236)
}

.fileList {
  position: relative;
  flex-basis: 200px;
  max-width: 200px;
  background-color: #eee;
  font-size: 0.8em;
  line-height: 1.4em;
  overflow-y: auto;
  scrollbar-width: thin;
}

.fileListDark {
  background-color: #202020;
  color: rgb(248, 248, 248);
}

.fileTree {
  list-style: none;
  margin: 0;
  padding: 0;
}

.fileEntryHead {
  padding: 5px 15px;
  cursor: pointer;
}

.fileEntryHeadDark {
  background-color: #292929;
}

.fileComputerControl {
  position: relative;
}

.fileComputerControlDark {
  background-color: #292929;
  color: rgb(248, 248, 248);
}

.fileComputer {
  padding: 10px 15px;
  font-size: 1.3em;
  cursor: pointer;
}

.fileComputerDark {
  background-color: #292929;
  color: rgb(248, 248, 248);
}

.fileEntryHeadDark:hover,
.fileComputerDark:hover {
  background-color: #3b3b3b !important;
}

.fileComputerActions {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  pointer-events: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.fileComputerActions .actionButton {
  pointer-events: all;
  width: 2em;
  height: 2em;
  margin: 5px;
  text-align: center;
}

.fileComputerActions .actionButton:hover {
  background: rgba(0, 0, 0, 0.1);
}

.fileEntryHead:hover,
.fileComputer:hover {
  background: #ddd;
}
.fileEntryHead.active,
.fileComputer.active,
.fileEntryHead.active:hover,
.fileComputer.active:hover {
  background: #ccc;
}

.fileEntryHeadDark.active,
.fileComputerDark.active,
.fileEntryHeadDark.active:hover,
.fileComputerDark.active:hover {
  background-color: #3b3b3b !important;
}

.fileEntryName {
  text-overflow: ellipsis;
  overflow: hidden;
}

.fileEntryIcon {
  display: inline-block;
  width: 1em;
  padding: 0 5px;
}


.fileDropMarker {
  display: none;
}

.fileList.dragging .fileDropMarker {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;

  /* Required for Chrome, as it fires dropleave events when entering children */
  pointer-events: none;
}

.fileDropMarker > span {
  color: white;
  font-size: 2em;
  padding: 10px;
  text-align: center;
  line-height: 1em;
}

.editorPlaceholder {
  font-size: 3em;
  color: #aaa;
  text-align: center;
  margin: 1em;
}

.editorPlaceholderDark {
  background: rgb(20, 20, 20);
  color: rgb(214, 212, 212);

}

.infoButtons {
  position: fixed;
  bottom: 5px;
  left: 5px;
  z-index: 50;
}

.infoButtons > button {
  opacity: 0.6;
  padding: 0 3px;
}

.infoButtons > button:hover {
  opacity: 1;
}

.dialogueOverlay {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;

  z-index: 150; /* Over notification and cogs */

  background: rgba(0, 0, 0, 0.7);
}


.dialogueBox {
  position: relative;
  top: 5vh;
  margin: 0px auto;
  padding: 20px;
  box-sizing: border-box;
  width: 90vw;
  max-width: 800px;
  max-height: 90vh;
  overflow-y: scroll;
  background: white;
}

.dialogueBoxDark {
  background: #202020;
  color: rgb(240, 240, 240);
}

.formGroup {
  display: flex;
  flex-wrap: wrap;
}

.formGroup > label {
  flex-basis: 50%;
  padding: 10px;
  box-sizing: border-box;
  font-weight: 500;
}

.formGroup .tinyText {
  overflow-wrap: anywhere;
  margin: 0px;
}

.formGroupDark .tinyTextDark {
  color: rgb(231, 231, 231);
}

.formGroup input[type="text"],
.formGroup input[type="number"],
.formGroup select {
  margin-top: 2px;
  display: block;
  width: 100%;
}

.formGroup input[type="checkbox"] {
  margin: 0px 5px 0px 0px;
}

@media (max-width: 800px) {
  .formGroup > label {
    flex-basis: 100%;
  }
}
