# Project files
/.idea
*.iml
/classes
/build
/out
/node_modules
/.gradle
/.vscode

# Exclude modified/generated sources
/src/main/java/org/squiddev/cobalt/
/src/main/java/dan200/computercraft/
/src/main/resources/data/computercraft
/src/main/java/cc/tweaked/web/mount/Resources.java
/src/web/ts/styles.css.d.ts
