# Project files
/.idea
*.iml
/classes
/build
/out
/node_modules
/.gradle
/.vscode

# Exclude modified/generated sources
/src/main/java/cc/tweaked/web/mount/Resources.java
/src/main/javaPatched
/src/main/resourcesPatched
/src/web/ts/styles.css.d.ts
