[submodule "original/CC-Tweaked"]
	path = original/CC-Tweaked
	url = https://github.com/cc-tweaked/CC-Tweaked.git
[submodule "vendor/teavm"]
	path = vendor/teavm
	url = https://github.com/SquidDev/teavm.git
