[submodule "original/CC-Tweaked"]
	path = original/CC-Tweaked
	url = https://github.com/cc-tweaked/CC-Tweaked.git
[submodule "original/Cobalt"]
	path = original/Cobalt
	url = https://github.com/SquidDev/Cobalt.git
