# Project files
/.idea
*.iml
/classes
/build
/out
/node_modules
/.gradle

# Exclude modified sources
/src/main/java/org/squiddev/cobalt/
/src/main/java/dan200/computercraft/
/src/main/resources/assets/computercraft
/src/main/java/cc/squiddev/cct/mount/Resources.java
